
<div class="col-xs-12 col-md-6">
  <%= link_to cocktail_path(cocktail), class:'cocktail-card-anchor' do %>
  <div class="cocktail" style="background-image: linear-gradient(transparent 0%, rgba(254,113,135, 0.4) 100%), url(<%= image_url || asset_path("placeholder.jpg") %>)"  >
  <h3 class="cocktail-name">
    <%= cocktail.name %>
  </h3>
  </div>
  <% end %>
</div>
