<div class="row">
<% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-md-6">
      <div class="cocktail">
      <h3 class="cocktail-name">
      <%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      </div>
    </div>
<% end  %>
</div>
