// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body:before {
  content: '';
  display: block;
  background: linear-gradient(90deg, #833ab4 20%, #fd1d1d 60%, #fcb045 85%);
  height: 5px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#ffb347 30%, #ffcc33);
  h1 {
    & a {
      color: #833ab4;
    }
    font-size: 2.4em;
    font-weight: bold;
    padding-bottom: 16px;
    transform: rotate(-2deg);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.wrapper {
  margin-top: 10px;
}

.cocktail-details {
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 50px;
}

.cocktail {
  border: 1px solid red;
  height: 400px;
  margin: 10px;
}
